<ion-content [fullscreen]="true">
  <div class="login-container">

    <!-- TÍTULO KUENTA -->
    <div class="app-title">
      <h1>Kuenta</h1>
    </div>
    
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </div>

    <ion-card class="login-card">
      <ion-card-content> 
        
        <ion-item class="input-item">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="username" type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()" class="login-button">
          Ingresar
        </ion-button>

        <div class="links-container">
          <ion-button fill="clear" size="small" (click)="recuperarPassword()">
            ¿Olvidaste tu contraseña?
          </ion-button>
          <ion-button fill="clear" size="small" (click)="registro()">
            Registrarse
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>

  </div> 
</ion-content>